.main-wrapper .nav-login button[name='Logout']{
  border-radius: 15px;
	background-color: white;
  margin-right: 40px;
  margin-top: -5px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  outline: none;
}
.main-wrapper .nav-login button[name='Logout']:hover{
  background-color: dodgerblue;
}
.main{
  width: 500px;
  height: 400px;
  position: absolute;
  background-color: lightgrey;
  border-radius: 20px;
  top: 20%;
  left: 35%;
}
.main h3{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px 4px #000000;
}
.main .one select{
  position: absolute;
  border: none;
  border-bottom: 1px solid white;
  background-color: lightgrey;
  top: 25%;
  left: 15%;
  width: 70%;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}
.main .two select{
  position: absolute;
  left: 15%;
  top: 45%;
  border: none;
  border-bottom: 1px solid white;
  background-color: lightgrey;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  width: 70%;
}
.main button{
  position: absolute;
  top: 75%;
  left: 40%;
  border-radius: 20px;
  width: 90px;
  background-color: lightgreen;
  height: 35px;
  outline: none;
}
